# .env.sample
# Ganti nilai-nilai di bawah ini dengan milik Anda dan simpan sebagai .env.local

# Gemini AI (Optional, jika menggunakan fitur generate AI)
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Kredensial Login Admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin@123

# Konfigurasi Database Firebase (diperlukan untuk Vercel / Production)
# Nilai-nilai ini bisa diambil dari file firebase-service-account.json
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-service-account-email@your-project-id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_LONG_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
